@import '~bulma/bulma';

$base-margin: 0.5rem;
.mb {
  &-1 {
    margin-bottom: $base-margin;
  }
  &-2 {
    margin-bottom: $base-margin * 2;
  }
  &-3 {
    margin-bottom: $base-margin * 3;
  }
}

.my {
  &-1 {
    margin: $base-margin 0 $base-margin 0;
  }
  &-2 {
    margin: ($base-margin * 2) 0 ($base-margin * 2) 0;
  }
  &-3 {
    margin: ($base-margin * 3) 0 ($base-margin * 3) 0;
  }
}
